oceanpH_0.1.0.tar.gz
**.Rproj.user/
**.Rhistory/
**.RData/
**.Ruserdata/
*.Rhistory

# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# Windows shortcuts
*.lnk
# =========================
# Operating System Files
# =========================
# OSX
# =========================
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.Rproj.user
# =========================
# Data Files
# =========================
*.csv
!defined_regions.csv
!defined_basins.csv
!models_to_remove.csv
!observation_boundaries.csv
*.pdf
*.png
raw-data/observations/formatted/*.rda
# =========================
# HTML Files Created By Rmd
# =========================
*.html
*.html
# =========================
# Directories to ignore
# =========================
building/
figs/
old/
man/
.RData
*.rda
# But do not ignore the mean data the .rda objects used by the drivers
!basin_mean.rda
!obs_cmip_comparison_mean.rda


exec/processing/figure_scripts/old
exec/old_labnotebooks
*.Rmd
*.md
*html
*.docx
*.bib
